/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}
/*Fonts */
@font-face {
  font-family: 'Palatino-italic';
  src: url(..\fonts\palatino-italic\palatin.ttf) format('truetype');
}

/* Universal Styles */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/* Filters Section*/
#filters-section {
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {
  max-width: 100%;
  padding: 0 1%;
}

#filters-section .images-container .image-container {
  max-width: 24.75%;
  display: inline-block;
  padding: 0 0;
}

#filters-section .images-container .image-container img {
  max-width: 100%;
  height: auto;
}

/* Quotes Section */
#quotes-section {
  background-color: #f3f3f3;
  padding: 5rem 0rem;
}

#quotes-section content {
  padding: 5rem 0rem;
}

.center {
  text-align: center;
}

#quotes-section .quote {
  font-family: 'Palatino-italic', serif;
  font-size: 1.875rem;
  color: #4a4a4a;
  padding-right: 1.875rem;
  font-style: italic;
  line-height: 1.1;
}

#quotes-section .quote-citation {
  height: 1.875rem;
}

@media only screen and (max-width: 760px){
  #quotes-section content {
    padding: 1.875rem 0.625rem;
  }

  #quotes-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section .quote-citation {
    display: block;
    padding-top: 1rem;
    margin : auto;
  }
}

/* Footer */
footer {
  color: white;
  background-color: #9b9b9b;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  padding: 1.5rem 2rem;
}

.location {
  float: right;
}

@media only screen and (min-width: 760px) {
  footer {
    font-size: 0.625rem;
  }
}